@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}
body{
    width: 90%;
    margin: auto;
    font-size: 80%;
}
h1{
    text-align: center;
    border-bottom: 1px solid black;
    padding: .4em;
}
h3{
    text-align: center;
}
.principal{
    margin-top: 1%;
}
.principal,.art{
    border: 1px solid black;
}
.art{
    margin: .4em;
    height: 10em;
    text-align: center;
    padding: 1em;
}
.clear{
    clear: both;
}
footer{
    border-top: 1px solid black;
    padding: 1em;
}

@media screen and (min-width:47em){
    body{
        font-size: 90%;
    }
    .art{
        float: left;
        width: 41%;
        margin: 1em 1.5%;       
    }
    .cuerpo{
        margin-left: 3%;   
       }
}
@media screen and (min-width:60em){
    body{
        font-size: 100%;
    }
}
@media screen and (min-width:70em){
    body{
        font-size: 110%;
    }
}
@media screen and (min-width:80em){
    body{
        font-size: 120%;
    }
}